.description {
  padding-bottom: 50px;
}

// .description__title
.description__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $txt_basic;
  margin: 0;
  margin-bottom: 40px;
}

// .description__list
.description__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

// .description__item
.description__item {
  position: relative;
  padding: 0 0 0 80px;

  // .description__item--leaf
  &--leaf {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/svg/icon_leaf.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      left: 0;
      top: 0;
      display: block;
      background-color: $bg_basic;
    }
  }

  // .description__item--bowl
  &--bowl {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../../img/svg/icon-bowl.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      left: 0;
      top: 0;
      display: block;
      background-color: $bg_basic;
    }
  }

  // .description__item--eat
  &--eat {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../../img/svg/icon_eat.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      left: 0;
      top: 0;
      display: block;
      background-color: $bg_basic;
    }
  }

  // .description__item--weigh
  &--weigh {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../../img/svg/icon-weigh.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 60px;
      height: 60px;
      left: 0;
      top: 0;
      display: block;
      background-color: $bg_basic;
    }
  }
}

// .description__text
.description__text {
  margin: 0;
  padding: 2px 0 4px;
}
