.description {
  padding-bottom: 50px;
}

// .description__title
.description__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $txt_basic;
  margin: 0;
  margin-bottom: 40px;
}

// .description__list
.description__list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

// .description__item
.description__item {
}

//.description__icon
.description__icon {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  display: block;
  background-color: $bg_basic;

  // .description__icon--leaf
  &--leaf {
    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 24px;
      height: 28px;
      background-size: 100% 100%;
      background-position: center;
      background-image: url("../img/svg/icon_leaf.svg");
    }
  }

  // .description__icon--bowl
  &--bowl {
    &::before {
      background-image: url("../../../img/svg/icon-bowl.svg");
    }
  }

  // .description__icon--eat
  &--eat {
    &::before {
      background-image: url("../../../img/svg/icon_eat.svg");
    }
  }

  // .description__icon--weigh
  &--weigh {
    &::before {
      background-image: url("../../../img/svg/icon-weigh.svg");
    }
  }
}

// .description__text
.description__text {
  margin: 0;
  padding: 2px 0 4px;
}
