.example {
  background-color: $bg_minor-light;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
  }
}

//.example__wrapper
.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 436px 560px;
    justify-content: space-between;
  }
}

// .example__wrapper
.example__content {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: grid;
    grid-template-columns: 367px 1fr;
    padding: 45px 0 100px;
  }
}

// .example__title
.example__title {
  font-family: $oswald;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $txt_basic;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

// .example__text
.example__text {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1/-1;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

// .example__list
.example__list {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    gap: 42px;
    margin-bottom: 55px;
  }
}

// .example__example-wrapper
.example__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .example__term
.example__term {
  width: 124px;
  padding: 15px 20px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $txt_basic;
  border: 1px solid $brd_main;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    font-size: 30px;
    line-height: 37px;
  }
}

// .example__defining
.example__defining {
  margin: 0;
  max-width: 80px;
  padding: 0 7px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  transform: translateY(-10px);
  background-color: $bg_minor-light;

  @media (min-width: $tablet-width) {
    white-space: nowrap;
    max-width: 125px;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
  }
}

// .example__result
.example__result {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  p {
    line-height: 20px;
    font-family: $oswald;
    margin: 0;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

// .example__result
.example__prise {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $txt_basic;
  padding: 10px 0 20px;
  gap: 3px;

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-direction: column;
    align-items: end;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    justify-content: start;
    gap: 63px;
  }
}

// .example__slider
.example__slider {
  /* foo */
}
