.program-types {
  /* foo */
}

// .program-types__list
.program-types__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

// .program-types__item
.program-types__item {
  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}
