.program {
  padding: 30px 20px 18px;
  background-color: $bg_minor;
  position: relative;

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 24px;
    left: 20px;
    background-color: $bg_basic;
    border-radius: 50%;
  }

  //program--slim
  &--slim {
    &::before {
      content: "";
      position: absolute;
      width: 36px;
      height: 50px;
      top: 21px;
      left: 27px;
      background-image: url("../img/svg/cat-slim.svg");
      background-repeat: no-repeat;
      display: block;
      z-index: 5;
    }
  }

  // program--pro
  &--pro {
    &::before {
      content: "";
      position: absolute;
      width: 67px;
      height: 28px;
      top: 35px;
      left: 12px;
      background-image: url("../img/svg/cat-pro.svg");
      background-repeat: no-repeat;
      display: block;
      z-index: 5;
    }
  }
}

// .program__title
.program__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $txt_basic;
  padding-left: 70px;
  margin: 0;
  margin-bottom: 30px;
}

// .program__text
.program__text {
  margin: 0;
  margin-bottom: 15px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 23px;
    background-color: $line_main;
  }
}

// .program__link
.program__link {
  position: relative;
  min-height: 24px;
  padding: 4px 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: $txt_basic;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/svg/icon_arrow.svg");
    width: 32px;
    height: 10px;
    display: block;
    right: -17px;
    top: 10px;
    transform: translateX(100%);
  }
}
