.program-types {
}

  // .program-types__container
  .program-types__container {
    padding: 20px;
  }

  // .program-types__list
  .program-types__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  // .program-types__item
  .program-types__item {
  }
