.program {
  padding: 24px 20px 18px;
  background-color: $bg_minor;
  position: relative;
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-template-columns: 1fr 268px;
    padding: 77px 29px 60px 52px;
    column-gap: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 214px 1fr;
    padding: 47px 61px 62px 52px;
  }
}
//.program__icon
.program__icon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $bg_basic;
  border-radius: 50%;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-area: 1 / 2/ 4 / 3;
    justify-self: center;
    width: 200px;
    height: 200px;
    margin-top: -7px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

//program__icon--slim
.program__icon--slim {
  &::after {
    content: "";
    position: absolute;
    width: 36px;
    height: 50px;
    bottom: 3px;
    left: 7px;
    background-image: url("../img/svg/sprite/stack.svg#cat-slim");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 5;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 140px;
      height: 194px;
      bottom: 17px;
      left: 30px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      bottom: 9px;
      left: 15px;
    }
  }
}

// program__icon--pro
.program__icon--pro {
  &::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 28px;
    top: 12px;
    left: -8px;
    background-image: url("../img/svg/sprite/stack.svg#cat-pro");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 5;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 268px;
      height: 112px;
      top: 44px;
      left: -34px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 20px;
      left: -19px;
    }
  }
}

// .program__title
.program__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $txt_basic;
  margin: 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: -53px;
    margin-top: -4px;
  }
}

// .program__text
.program__text {
  margin: 0;
  padding: 22px 0 22px;
  grid-column: 1 / -1;

  @media (max-width: $tablet-width) {
    border-bottom: 2px solid $line_main;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1 / 2;
    padding: 24px 0 41px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 39px 0 23px;
    font-size: 16px;
    line-height: 24px;
  }
}

// .program__link
.program__link {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 24px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  color: $txt_basic;
  grid-column: 1 / -1;
  margin-right: auto;
  margin-top: 14px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    grid-column: 1 / 2;
    font-size: 20px;
    cursor: pointer;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    cursor: pointer;
    margin-top: 7px;
  }

  &::after {
    content: "";
    background-image: url("../img/svg/sprite/stack.svg#arrow-right");
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 12px;
    top: 50%;
    margin-left: 27px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

// .program__link:hover
.program__link:hover {
  &::after {
    background-image: url("../img/svg/sprite/stack.svg#arrow-right-hover");
    width: 32px;
    transition: all 0.2s ease;
  }
}

.program__link:focus-visible {
  outline: none;
  opacity: 0.3;

  &::after {
    background-image: url("../img/svg/sprite/stack.svg#arrow-right-hover");
    width: 32px;
    transition: all 0.2s ease;
  }
}

@supports not selector(:focus-visible) {
  .program__link:focus {
    outline: none;
    opacity: 0.3;

    &::after {
      background-image: url("../img/svg/sprite/stack.svg#arrow-right-hover");
      width: 32px;
      transition: all 0.2s ease;
    }
  }
}

.program__link:active {
  opacity: 0.3;
}
