.promo {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-image: linear-gradient(to top, $bg_basic-light, $bg_basic-light),
      url("../img/index-background-mobile.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: block;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, $bg_basic-light, $bg_basic-light),
        url("../img/index-background-mobile@2x.webp");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

// .promo__wrapper
.promo__wrapper {
  position: relative;
  padding: 27px 0 20px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 0;
    position: relative;
  }
}

// .promo__content
.promo__content {
  color: $txt_contrast;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: -74px;
    color: $txt_basic;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

// .promo__title
.promo__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
    max-width: 515px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

// .promo__subtitle
.promo__subtitle {
  font-family: $oswald;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 21px;
    padding-left: 90px;
    max-width: 515px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 52px;
  }
}

// .promo__banner
.promo__banner {
  position: relative;
  display: block;
  margin-bottom: 3px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 709px;

    img {
      width: 709px;
      height: 609px;
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    position: absolute;
    top: 30px;
    left: 447px;

    img {
      width: 552px;
      height: 499px;
    }
  }
}

// .promo__button
.promo__button {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 14px 28px;
    top: -580px;
    left: 90px;
    width: auto;
    max-width: 260px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    min-width: 244px;
    padding: 14px 26px;
    top: 0;
    left: 0;
  }
}
