.promo {
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    background-image: linear-gradient(to top, $bg_basic-light, $bg_basic-light),
      url("../img/index-background-mobile.png");
    // box-shadow: inset 0 302px 0 0 $bg_basic-light;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      background-image: linear-gradient(to top, $bg_basic-light, $bg_basic-light),
        url("../img/index-background-desktop.jpg");
      width: 720px;
      height: 694px;
      top: 0;
      left: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
    }
  }

  @media (max-width: $desktop-width) {
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

// .promo__wrapper
.promo__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

// .promo__content
.promo__content {
  z-index: 2;
  position: relative;

  @media (max-width: $tablet-width) {
    color: $txt_contrast;
    padding: 27px 0 20px;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    padding: 65px 0 0 90px;
    width: 515px;
    color: $txt_basic;
  }

  @media (min-width: $desktop-width) {
    padding: 110px 0 0 80px;
  }
}

// .promo__title
.promo__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

// .promo__subtitle
.promo__subtitle {
  font-family: $oswald;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

// .promo__banner
.promo__banner {
  position: relative;
  display: block;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);
    width: 280px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    position: absolute;
    top: 266px;

    img {
      width: 709px;
      height: 609px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    left: 447px;

    img {
      width: 552px;
      height: 499px;
    }
  }
}

// .promo__button
.promo__button {
  @media (max-width: $tablet-width) {
    margin-top: 302px;
    width: 100%;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 50px 0 526px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 52px 0 184px;
    font-size: 20px;
    line-height: 26px;
    min-width: 244px;
  }
}
