body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.feedback {
  color: black;
}
.feedback ul {
  list-style: none;
}
.feedback p {
  margin-bottom: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Скрытые элементы 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
