// Шрифт по умолчанию
$fontFamily: "";
$fontSize: 16px;

// Цвет шрифта
$basic_color: #000000;
$contrast_color: #ffffff;
$fill_color: #666666;
$main_color: #444444;
$minor_color: #111111;
$light_color: #222222;

// Цвет кнопок
$btn-basic: #68b738;
$btn-hover: #5eaa2f;
$btn_light: #f2f2f2;
$btn_light-hover: #ebebeb;

// Цвет ошибки
$status_error: #ff8282;

// Цвета рамок полей и чекбоксов
$main_border: #cdcdcd;
$minor_border: #e7e7e7;

// Цвета разделительных линий
$main_line: #d9d9d9;
$minor_line: #cdcdcd;
$light_line: #ebebeb;
// Показать больше +
$more_line: #d3d3d3;

// Цвет фона
$bg_main: #ffffff;
$bg_minor: #f2f2f2;
$bg_minor-light: #eaeaea;
$bg_basic: #68b738;
$bg_basic-light: rgba(104, 183, 56, 0.85);
