.catalog {
  // catalog
}

// .catalog__products
.catalog__products {
  // products
}

// .catalog__complementary
.catalog__complementary {
  border-top: 1px solid $line_light;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

// .catalog__promotion
.catalog__promotion {
  // promotion
}

// .catalog__partnership
.catalog__partnership {
  @media (min-width: $desktop-width) {
    margin-top: 87px;
  }
}
