.complementary-card {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $txt_main;
  padding: 13px 0 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 26px 37px 28px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 326px 1fr 244px;
    padding: 14px 0 17px;
  }
}

// .complementary-card__title
.complementary-card__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $txt_light;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }
}

// .complementary-card__inform
.complementary-card__inform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 13px 0 15px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    grid-column: 2/-1;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    justify-content: space-between;
    align-self: stretch;
    padding-top: 12px;
    line-height: 20px;
  }
}

// .complementary-card__quantity
.complementary-card__quantity {
  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

// .complementary-card__price
.complementary-card__price {
  text-align: right;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 94px;
    padding-right: 3px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-right: 40px;
    min-width: 83px;
  }
}

// .complementary-card__button
.complementary-card__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 24px;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: -2/-1;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
