.complementary {
}

//.complementary__wrapper
.complementary__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    margin-bottom: 87px;
  }
}

// .complementary__title
.complementary__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $txt_basic;
  margin: 0;
  padding: 25px 0 36px 20px;

@media (min-width: $desktop-width){
   
}
}

// .complementary__list
.complementary__list {
}

// .complementary__item
.complementary__item {
  border-top: 1px solid $line_minor;
  &:last-child {
    border-bottom: 1px solid $line_minor;
  }
}
