.complementary {
}
// .complementary__title
.complementary__title {
  position: relative;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $txt_basic;
  margin: 0;
  padding: 25px 0 36px 20px;

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    transform: translateY(-100%);
    right: 0;
    border: 1px solid $bg_basic;
    width: 54px;
    height: 0;
    display: block;
  }
}

// .complementary__container
.complementary__container {
}

// .complementary__list
.complementary__list {
}

// .complementary__item
.complementary__item {
}
