.complementary {
  /* foo */
}

//.complementary__wrapper
.complementary__wrapper {
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    margin-bottom: 87px;
    padding-top: 75px;
  }
}

// .complementary__title
.complementary__title {
  line-height: 24px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    line-height: 36px;
  }
}

// .complementary__list
.complementary__list {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    border-right: 1px solid $line_minor;
    border-left: 1px solid $line_minor;
  }
}

// .complementary__item
.complementary__item {
  border-top: 1px solid $line_minor;

  &:last-child {
    border-bottom: 1px solid $line_minor;
  }
}
