.complementary-card {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $txt_main;
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 26px 0 28px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 326px 1fr 244px;
    padding: 15px 0 17px;
  }
}

// .complementary-card__title
.complementary-card__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $txt_light;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }
}

// .complementary-card__inform
.complementary-card__inform {
  display: flex;
  justify-content: space-between;
  margin: 13px 0 15px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    grid-column: 2/-1;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    justify-content: space-between;
    padding-right: 40px;
  }
}

// .complementary-card__quantity
.complementary-card__quantity {
  // quantity
}

// .complementary-card__price
.complementary-card__price {
  margin-left: 50px;
}

// .complementary-card__button
.complementary-card__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-column: -2/-1;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
