.product-card {
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $txt_main;

  &::before {
    content: "";
    display: block;
    position: relative;
    left: -20px;
    background-color: $line_light;
    width: calc(100% + 40px);
    height: 1px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

// product-card__card-wrapper
.product-card__card-wrapper {
  padding: 20px 0 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 37px 40px;
    box-shadow: inset 0px -430px 0px 0px $bg_minor;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
  }

  // .product-card__card-wrapper--more
  &--more {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
  }
}

// .product-card__image
.product-card__image {
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 200px;
    height: 210px;
    text-align: center;
    line-height: 200px;

    img,
    span {
      vertical-align: middle;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    height: 210px;
    margin-bottom: 12px;
  }
}

// .product-card__content
.product-card__content {
  grid-column: 2/-1;
}

// .product-card__title
.product-card__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $txt_light;
  margin: 0;
  padding-right: 60px;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding: 0 50px;
    text-align: center;
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 14px;
    margin-bottom: 23px;
  }

  // .product-card__title--more
  &--more {
    color: $txt_minor;
    text-align: center;
    padding: 0;
  }
}

// .product-card__inform
.product-card__inform {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    row-gap: 10px;
  }
}

// .product-card__term
.product-card__term {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

// .product-card__defining
.product-card__defining {
  white-space: nowrap;
  text-align: end;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

// .product-card__button
.product-card__button {
  width: 100%;
  grid-column: 1/-1;
  margin-top: 17px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
  }
}

// .product-card__more-products
.product-card__more-products {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    border: 1px solid $line_more;
    width: 100%;
    height: 0%;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    border: 1px solid $line_more;
    width: 100%;
    height: 0%;
    transform: rotate(90deg);
    display: block;
  }
}

// .product-card__text
.product-card__text {
  margin: 8px 0 0;

  @media (min-width: $tablet-width) {
    padding: 0 42px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
