.products {

}

  // .products__title
  .products__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: $txt_basic;
    margin: 27px 0 41px;
  }

  // .products__list
  .products__list {
  }

  // .products__item
  .products__item {
  }
