.additionally {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $txt_main;
  // .additionally__title
  &__title {
    margin-bottom: 34px;
  }

  // .additionally__container
  &__container {
  }

  // .additionally__list
  &__list {
  }

  // .additionally__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  // .additionally__label
  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  // .additionally__input
  &__input {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid $brd_main;
    appearance: none;
    margin: 0;
    padding: 0;
  }

  &__input[type="radio"]:checked::after {
    position: absolute;
    content: "";
    background-image: url("../../../img/svg/tick.svg");
    width: 18px;
    height: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // .additionally__text
  &__text {
    padding-left: 15px;
  }
}
