.comments {
  /* foo */
}

// .comments__text-area
.comments__text-area {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 40px;
  }
}

// .comments__title
.comments__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
  }
}

// .comments__comment
.comments__comment {
  display: block;
  width: 100%;
  min-height: 150px;
  padding: 14px;
  margin: 0;
  border: 1px solid $brd_minor;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 20px;
  }

  &[placeholder] {
    font-family: $oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $txt_main;

    @media (min-width: $tablet-width) {
      text-align: left;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:focus-visible {
    outline: none;
    border: 2px solid $txt_main;
    margin: -1px;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
      border: 2px solid $txt_main;
      margin: -1px;
    }
  }
}
