.declaration {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $txt_main;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

// .declaration__list
.declaration__list {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 40px;
  }
}

.declaration__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

// .declaration__label
.declaration__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .declaration__text
.declaration__text {
  margin-right: 13px;
  flex-shrink: 0;
  max-width: 50%;
}
