.declaration {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $txt_main;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

// .declaration__list
.declaration__list {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.declaration__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

// .declaration__label
.declaration__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 13px;
}

// .declaration__input
.declaration__input {
  flex-grow: 1;
}
