.declaration {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $txt_main;
}

// .declaration__list
.declaration__list {
}

// .declaration__item
.declaration__item {
}

.declaration__item:not(:last-child) {
  margin-bottom: 14px;
}

// .declaration__label
.declaration__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .declaration__text
.declaration__text {
  margin-right: 13px;
  white-space: nowrap;
}

// .declaration__input
.declaration__input {
  border: 1px solid $brd_minor;
}
