.form-content {
}

// .form-content__header
.form-content__header {
  padding: 27px 0 39px;
}

// .form-content__title
.form-content__title {
  font-family: $oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $txt_basic;
  margin: 0;
  margin-bottom: 37px;
}

// .form-content__text
.form-content__text {
  margin: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $txt_basic;
  text-transform: uppercase;
}

// .form-content__profile
.form-content__profile {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profile__cubmit-wrapper {
    @media (min-width: $desktop-width) {
      width: 100%;
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 79px;
    }
  }
}

// .form-content__partnership
.form-content__partnership {
  background-color: $bg_minor;
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $txt_main;
}
