.owner-contacts {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $txt_main;
}

// .owner-contacts__title
.owner-contacts__title {
  margin-bottom: 35px;
}

// .owner-contacts__list
.owner-contacts__list {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

// .owner-contacts__item
.owner-contacts__item {
  /* foo */
}

.owner-contacts__item:not(:last-child) {
  margin-bottom: 14px;
}

// .owner-contacts__label
.owner-contacts__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .owner-contacts__text
.owner-contacts__text {
  margin-right: 13px;
  white-space: nowrap;
}

// .owner-contacts__input
.owner-contacts__input {
  border: 1px solid $brd_main;
  background-repeat: no-repeat;
  background-position: right 14px center;

  &[type="email"] {
    background-image: url("../img/svg/email.svg");
  }

  &[type="tel"] {
    background-image: url("../img/svg/tel.svg");
  }
}
