.owner-contacts {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $txt_main;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

// .owner-contacts__title
.owner-contacts__title {
  margin-bottom: 35px;
  max-width: 208px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    max-width: 708px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

// .owner-contacts__list
.owner-contacts__list {
  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0;
  }
}

.owner-contacts__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

// .owner-contacts__label
.owner-contacts__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

// .owner-contacts__text
.owner-contacts__text {
  margin-right: 13px;
  flex-shrink: 0;
  max-width: 50%;
}

// .owner-contacts__icon
.owner-contacts__icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  fill: transparent;
  stroke: $txt_light;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    right: 17px;
  }
}
