.profile {
  text-transform: uppercase;
}

// .profile__declaration
.profile__declaration {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }

  .container {
    @media (min-width: $desktop-width) {
      padding: 0;
      width: 570px;
    }
  }
}

// .profile__nutrition
.profile__nutrition {
  border: none;
  padding: 0;
  margin: 0;

  &::before {
    content: "";
    border-top: 1px solid $line_main;
    width: 100%;
    height: 0%;
    display: block;
  }

  &::after {
    content: "";
    border-top: 1px solid $line_main;
    width: 100%;
    height: 0%;
    display: block;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
  }

  .container {
    @media (min-width: $desktop-width) {
      padding: 0;
      width: 570px;
    }
  }
}

// .profile__owner-contacts
.profile__owner-contacts {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 26px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

// .profile__comments
.profile__comments {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 24px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

// .profile__additionally
.profile__additionally {
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 34px;
  margin-top: 23px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    padding-bottom: 60px;
  }
}

// .profile__cubmit
.profile__cubmit {
  width: 570px;
}

// .profile__required
.profile__required {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $txt_basic;
  text-transform: none;
  text-align: center;
  margin: 21px 0 32px;

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
