.header {
  // .header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__logo
  &__logo {
  }
  // .header__logo-image
  &__logo-image {
  }
  // .header__logo-text
  &__logo-text {
  }
  // .header__icon
  &__icon {
  }
  // .header__menu
  &__menu {
    display: none;
  }
  // .header__menu-body
  &__menu-body {
  }
  // .header__menu-list
  &__menu-list {
  }
}
