.header {
}

// .header__container
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .header__logo
.header__logo {
  display: flex;
  align-items: center;
}

// .header__logo-image
.header__logo-image {
  margin-right: 56px;
}

// .header__logo-text
.header__logo-text {
}

// .header__icon
.header__icon {
}

// .header__menu
.header__menu {
  display: none;
}

// .header__menu-body
.header__menu-body {
}

// .header__menu-list
.header__menu-list {
}
