.header {
  position: relative;
  z-index: 10;
}

// .header__header-wrapper
.header__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .header__logo
.header__logo {
  display: flex;
  align-items: center;
}

// .header__logo-image
.header__logo-image {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
    width: 70px;
    height: 59px;
  }
}

// .header__logo-text
.header__logo-text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

// .header__icon
.header__icon {
}

// .header__menu
.header__menu {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 66px;
    left: 0;
    background-color: $bg_main;
  }

  @media (min-width: $tablet-width) {
  }
}
