.icon-menu {
  display: block;
  position: relative;
  width: 24px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
  border: none;
  background-color: transparent;
  margin-right: 1px;
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $txt_basic;
  }
  &::before {
    top: 0px;
  }
  &::after {
    bottom: 0px;
  }
  span {
    top: calc(50% - 1px);
  }
}
