.menu {
  display: flex;
}

@media (max-width: $tablet-width) {
  // .menu--opened
  .menu--opened {
    .menu__body {
      display: block;
    }
    .icon-menu {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
      }
      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
      }
    }
  }
}

// .menu__body
.menu__body {
  @media (max-width: $tablet-width) {
    position: absolute;
    display: none;
    top: 65px;
    left: 0;
    // border-top: 1px solid $line_main;
    width: 100%;
    background-color: $bg_main;
    transition-duration: 0.2s; /* Добавляем анимацию 0.3 сек. */
    transition-delay: 0.15s; /* Добавляем задержку в 0.15 сек. */
  }

  @media (min-width: $tablet-width) {
    padding: 0px 4px;
  }
}

// .menu__list
.menu__list {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: $bg_main;
  }

  @media (min-width: $tablet-width) {
    // max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    max-width: 900px;
  }
}

// .menu__item
.menu__item {
  @media (max-width: $tablet-width) {
    text-align: center;
    border-bottom: 1px solid $line_main;
  }
}

.menu__item:first-child {
  @media (max-width: $tablet-width) {
    border-top: 1px solid $line_main;
  }
}

// .menu__link
.menu__link {
  font-family: $oswald;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $txt_basic;
  text-transform: uppercase;
  padding: 22px 0 23px;
  display: block;
  min-height: 65px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 39px 0 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 0 72px;
  }
}

// .menu__link--current
.menu__link--current {
  border-bottom: 2px solid $bg_basic;
}
