.comparison-slider {
  width: 280px;
  height: 256px;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

// .comparison-slider__cat-before
.comparison-slider__cat-before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
