/********** Стили диапазонного элемента ввода (слайдера) **********/
/* Сбрасываем стили по умолчанию */
.divider[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  background-color: transparent;
  width: calc(100% + 40px);
  margin-left: -20px;
  height: 100%;
}

/* Удаляем фокусировку по умолчанию */
.divider[type="range"]:focus {
  outline: none;
}
.divider[type="range"]:focus-visible {
  outline: none;
  border: none;
}

/***** Стили для Chrome, Safari, Opera и Edge Chromium *****/
/* дорожка слайдера */
.divider[type="range"]::-webkit-slider-runnable-track {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 40px);
  height: 100%;
  background-color: transparent;
  outline: none;
}

/* ползунок слайдера */
.divider[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Переопределяем вид по умолчанию */
  appearance: none;
  width: 40px;
  height: 256px;
  background-image: url("../img/stack.svg#curtain");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 512px;
    background-image: url("../img/stack.svg#curtain256");
  }
}

.divider[type="range"]:hover::-webkit-slider-thumb {
  background-image: url("../img/stack.svg#curtain-hover");

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256hover");
  }
}

.divider[type="range"]:focus-visible::-webkit-slider-thumb {
  background-image: url("../img/stack.svg#curtain-hover");

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256hover");
  }
}

@supports not selector(:focus-visible) {
  .divider[type="range"]:focus::-webkit-slider-thumb {
    background-image: url("../img/stack.svg#curtain-hover");

    @media (min-width: $tablet-width) {
      background-image: url("../img/stack.svg#curtain256hover");
    }
  }
}

.divider[type="range"]:active::-webkit-slider-thumb {
  background-image: url("../img/stack.svg#curtain-active");
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256active");
  }
}
/******** Стили для Firefox ********/
/* дорожка слайдера */
.divider[type="range"]::-moz-range-track {
  -moz-appearance: none;
  margin: 0;
  position: relative;
  background-color: transparent;
}

/* ползунок слайдера */
.divider[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 40px;
  height: 256px;
  border: none;
  background-color: transparent;
  background-image: url("../img/stack.svg#curtain");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256");
    height: 512px;
  }
}

.divider[type="range"]:hover::-moz-range-thumb {
  background-image: url("../img/stack.svg#curtain-hover");

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256hover");
  }
}

.divider[type="range"]:focus-visible::-moz-range-thumb {
  background-image: url("../img/stack.svg#curtain-hover");

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256hover");
  }
}

@supports not selector(:focus-visible) {
  .divider[type="range"]:focus::-moz-range-thumb {
    background-image: url("../img/stack.svg#curtain-hover");

    @media (min-width: $tablet-width) {
      background-image: url("../img/stack.svg#curtain256hover");
    }
  }
}

.divider[type="range"]:active::-moz-range-thumb {
  background-image: url("../img/stack.svg#curtain-active");
  opacity: 0.6;

  @media (min-width: $tablet-width) {
    background-image: url("../img/stack.svg#curtain256active");
  }
}
