.divider {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 40px);
  height: 100%;
  margin-left: -20px;
  background-color: transparent;
  outline: none;

  &:hover::-webkit-slider-thumb {
    background-image: url("../img/stack.svg#curtain-hover");
  }

  &:focus-visible::-webkit-slider-thumb {
    background-image: url("../img/stack.svg#curtain-hover");
  }

  @supports not selector(:focus-visible) {
    &:focus::-webkit-slider-thumb {
      background-image: url("../img/stack.svg#curtain-hover");
    }
  }

  &:active::-webkit-slider-thumb {
    background-image: url("../img/stack.svg#curtain-active");
  }

  @media (min-width: $tablet-width) {
    &:hover::-webkit-slider-thumb {
      background-image: url("../img/stack.svg#curtain256hover");
    }

    &:focus-visible::-webkit-slider-thumb {
      background-image: url("../img/stack.svg#curtain256hover");
    }

    @supports not selector(:focus-visible) {
      &:focus::-webkit-slider-thumb {
        background-image: url("../img/stack.svg#curtain256hover");
      }
    }

    &:active::-webkit-slider-thumb {
      background-image: url("../img/stack.svg#curtain256active");
    }
  }
}

.divider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 256px;
  width: 40px;
  background-image: url("../img/stack.svg#curtain");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  &:hover {
    background-image: url("../img/stack.svg#curtain-hover");
  }

  &:active {
    background-image: url("../img/stack.svg#curtain-active");
  }

  @media (min-width: $tablet-width) {
    height: 512px;
    background-image: url("../img/stack.svg#curtain256");

    &:hover {
      background-image: url("../img/stack.svg#curtain256hover");
    }

    &:focus-visible {
      background-image: url("../img/stack.svg#curtain256hover");
    }

    @supports not selector(:focus-visible) {
      &:focus {
        background-image: url("../img/stack.svg#curtain256hover");
      }
    }

    &:active {
      background-image: url("../img/stack.svg#curtain256active");
    }
  }
}

.divider::-moz-range-thumb {
  height: 256px;
  width: 40px;
  background-image: url("../img/stack.svg#curtain");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;

  &:hover {
    background-image: url("../img/stack.svg#curtain-hover");
  }

  &:active {
    background-image: url("../img/stack.svg#curtain-active");
  }

  @media (min-width: $tablet-width) {
    height: 512px;
    background-image: url("../img/stack.svg#curtain256");

    &:hover {
      background-image: url("../img/stack.svg#curtain256hover");
    }

    &:active {
      background-image: url("../img/stack.svg#curtain256active");
    }
  }
}
