.page {
}

.page::-webkit-scrollbar {
  width: 0;
}

// .page__header
.page__header {
  padding: 13px 0;
}

// .page__main
.page__main {
  flex-grow: 1;
}

// .page__footer
.page__footer {
}

// .page__catalog
.page__catalog {
  &::before {
    content: "";
    border-top: 1px solid $line_main;
    width: 100%;
    height: 1px;
    display: block;
  }
}

// .page__form
.page__form {
  &::before {
    content: "";
    border-top: 1px solid $line_main;
    width: 100%;
    height: 1px;
    display: block;
  }
}
