.page {
  min-height: 100%;
}

// .page--catalog
.page--main {
  .menu__link {
    @media (min-width: $desktop-width) {
      font-size: 20px;
      color: $txt_contrast;
    }
  }

  @media (min-width: $desktop-width) {
    .menu__link--current {
      border-bottom: 2px solid $bg_main;
    }
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      background-image: linear-gradient(to top, $bg_basic-light, $bg_basic-light),
        url("../img/index-background-desktop.jpg");
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(to top, $bg_basic-light, $bg_basic-light),
          url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

// .page__header
.page__header {
  z-index: 50;
}

// .page__main
.page__main {
  flex-grow: 1;
}

// .page__footer
.page__footer {
  /* foo */
}

// .page__catalog
.page__catalog {
  flex-grow: 1;
}

// .page__form
.page__form {
  flex-grow: 1;
}
