.partnership {
  // .partnership__container
  &__container {
    padding-top: 26px;
    padding-bottom: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  // .partnership__title
  &__title {
    font-family: $oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $txt_minor;
    margin: 0;
  }
  // .partnership__address
  &__address {
    line-height: 20px;
    font-style: normal;
  }
  // .partnership__map
  &__map {
    background-image: url("../../../img/location.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 362px;
    display: block;
  }
}
