.title-string {
  display: flex;
  width: 100%;
  font-family: $oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $txt_basic;
  text-transform: none;

  &::after {
    content: "";
    width: 100%;
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid #68b738;
    height: 0;
    display: block;
  }

  @media (min-width: $tablet-width) {
    white-space: nowrap;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-left: 40px;
  }
}
