.footer {
  background-color: $bg_minor;
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 55px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 66px;
  }
}

// .footer__footer-wrapper
.footer__footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }
}

// .footer__logo
.footer__logo {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  fill: currentColor;
  color: $txt_minor;

  @media (min-width: $tablet-width) {
    max-width: 130px;
    margin: 0;
    text-align: left;
    z-index: 5;
  }

  &:hover {
    color: $txt_hover;
  }

  &:focus-visible {
    outline: none;
    color: $txt_hover;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      outline: none;
      color: $txt_hover;
    }
  }

  &:active {
    color: $txt_active;
  }
}

// .footer__logo-text
.footer__logo-text {
  width: 128px;
  height: 24px;
  display: inline-block;
}

// .footer__social-list
.footer__social-list {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  padding: 20px 0 19px;
  border-top: 1px solid $line_main;
  border-bottom: 1px solid $line_main;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
  }
}

// .footer__copyright
.footer__copyright {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 170px;
  }
}
