.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
// .social__item
.social__item {
}

// .social__link
.social__link {
  color: $txt_fill;
  fill: currentcolor;

  // .social__link--vk
  &--vk {
  }

  // .social__link--ytb
  &--ytb {
  }

  // .social__link--tg
  &--tg {
  }
}
